body {
    
    background-image: url("Images/Background/tempBG.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-white{
    background:white;
    border-radius:12px;
    padding:10px;
    
}
.carousel{
    background-color: black;
}
.carousel-inner img{
    max-height: 250px;
    margin-left:auto;
    margin-right:auto;
}
.navbar-brand{
    padding: 0px 0px;
}
.navbar-nav{
    font-size: 20px;
}
#top-fix-margin{
    margin-top:50px;
}
.well{
    margin-top:30px;
}
#logo{
    width:50px;
    height:50px;
    display: inline-block;
}

ul{
    list-style-type: none;
}

#li-container img{
    width:60%;
    margin:10px;

}

#breadLi{
    background-color: black;
    border: solid 5px orange;
    padding: 10px;
}
.heading{
    color: white;
    background-color: black;
    border: solid 5px orange;
    padding: 10px;
}
.amount-input{
    width:10px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa-facebook{
    background: blue;
    color:white;
}
input[type=number]{
    width: 50px;
}