body{
    background:blue;
}
.bg-white{
    background:white;
    border-radius:12px;
    padding:10px;
    
}
.carousel{
    background-color: black;
}
.carousel-inner img{
    max-height: 250px;
    margin-left:auto;
    margin-right:auto;
}
.navbar-brand{
    padding: 0px 0px;
}
.navbar-nav{
    font-size: 20px;
}
#top-fix-margin{
    margin-top:50px;
}
.well{
    margin-top:30px;
}
#logo{
    width:50px;
    height:50px;
    display: inline-block;
}

ul{
    list-style-type: none;
}

.resize-img img{
    width:50%;
    
}