body{
    background: black;
}
.bg-white{
    background:white;
    border-radius:12px;
    padding:10px;
    
}
.carousel-inner img{
    max-height: 250px;
    margin-left:auto;
    margin-right:auto;
}
